@font-face {
  font-family: 'Roboto';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    local('Roboto'),
    local('Roboto'),
    url('../../fonts/Roboto/Roboto.woff2') format('woff2');
}

@font-face {
  font-family: 'SF Compact Display';
  font-display: swap;
  font-style: normal;
  font-weight: 400;
  src:
    local('SF Compact Display'),
    local('SF Compact Display'),
    url('../../fonts/SF Compact Display/SF Compact Display Regular.woff2') format('woff2');
}